*.o
*.Po
m4/*
*.ac
*~
Makefile
Makefile.in
kmc
kmc_tools
kmc_dump
libkmc_core.a
include/*
lib/*
bin/*
stamp-h1
*.tar.gz
*.log
autom4te.cache/*
AUTHORS
COPYING
INSTALL
*/.deps/*
config.status
config.h
*.dirstamp
kmc-3.7.5/*
