# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Object files
*.o

# Binaries
bin/

# Editor backup filels
*~
/.vs/kmc/v17
/.vs/kmc/FileContentIndex
/.vs
/Debug
/kmc_CLI/Debug
/kmc_CLI/x64/Debug/kmc_CLI.tlog
/kmc_CLI/x64/Debug
/kmc_core/Debug
/kmc_core/x64/Debug
/kmc_dump/Debug/kmc_dump.tlog
/kmc_dump/Debug
/kmc_dump/x64/Debug
/kmc_dump_sample/Debug
/kmc_dump_sample/x64/Debug
/kmc_tools/Debug
/py_kmc_api/Debug
/py_kmc_api/x64/Debug
/x64/Debug
/kmc_CLI/x64/Release
/kmc_core/x64/Release
/kmc_dump/x64/Release
/kmc_tools/x64/Release
/py_kmc_api/x64/Release
/x64/Release
