[submodule "3rd_party/zlib-ng-compat"]
	path = 3rd_party/zlib-ng-compat
	url = https://github.com/refresh-bio-dependencies/zlib-ng
[submodule "3rd_party/refresh_prebuild"]
	path = 3rd_party/refresh_prebuild
	url = https://github.com/refresh-bio-dependencies/refresh_prebuild
